---
// Copyright (c) Pascal Brand
// MIT License

import '../scss/style.scss'
import Layout from "../layouts/Layout.astro"

const pageHead = {
  title: 'Title of the page',
  description: "Descriptions of this page",
}


---

<Layout pageHead={pageHead}>

  <section class="webtools-container">

    <h1>Astro Page example using Webtools </h1>

  </section>

</Layout>
