$webtools-col-margin: 1.75rem !default;      // default margin to be applied

$webtools-make-col-1-2-4: false !default;
$webtools-col-1-2-4-2below: $webtools-size-m-from !default;
$webtools-col-1-2-4-4below: $webtools-size-l-from !default;

$webtools-make-col-1-2: false !default;
$webtools-col-1-2-2below: $webtools-size-m-from !default;

$webtools-make-col-2-3: false !default;
$webtools-col-2-3-3below: $webtools-size-m-from !default;

$webtools-col-space-around: 2%;
$webtools-col-width-1col: 100% - $webtools-col-space-around;
$webtools-col-width-2cols: 50% - $webtools-col-space-around;
$webtools-col-width-3cols: 33.333333% - $webtools-col-space-around;
$webtools-col-width-4cols: 25% - $webtools-col-space-around;


.webtools-container-col {
  display: flex;
  flex-wrap: wrap;    // be able to wrap so that we have multiple rows and col without using a grid
  justify-content: space-between;

  // disable the margin on the entire flexbox, induced by the margin of each item
  // see https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items
  margin-bottom: -$webtools-col-margin;

  &__item-1 {
    width: $webtools-col-width-1col;
    margin-bottom: $webtools-col-margin;
  }

  &__item-2 {
    width: $webtools-col-width-2cols;
    margin-bottom: $webtools-col-margin;
  }

  &__item-3 {
    width: $webtools-col-width-3cols;
    margin-bottom: $webtools-col-margin;
  }

  &__item-4 {
    width: $webtools-col-width-4cols;
    margin-bottom: $webtools-col-margin;
  }

  @if $webtools-make-col-1-2-4 {
    &__item-1-2-4 {
      width: $webtools-col-width-1col;
      margin-bottom: $webtools-col-margin;
      // border: 1px solid green;  // debugging purpose
    }

    @media only screen and (min-width: $webtools-col-1-2-4-2below) {
      &__item-1-2-4 {
        width: $webtools-col-width-2cols;
      }
    }
    @media only screen and (min-width: $webtools-col-1-2-4-4below) {
      &__item-1-2-4 {
        width: $webtools-col-width-4cols;
      }
    }
  }

  @if $webtools-make-col-1-2 {
    &__item-1-2 {
      width: $webtools-col-width-1col;
      margin-bottom: $webtools-col-margin;
    }

    @media only screen and (min-width: $webtools-col-1-2-2below) {
      &__item-1-2 {
        width: $webtools-col-width-2cols;
      }
    }
  }

  @if $webtools-make-col-2-3 {
    &__item-2-3 {
      width: $webtools-col-width-2cols;
      margin-bottom: $webtools-col-margin;
    }

    @media only screen and (min-width: $webtools-col-2-3-3below) {
      &__item-2-3 {
        width: $webtools-col-width-3cols;
      }
    }
  }
}
