---

// Copyright (c) Pascal Brand
// MIT License

import { WEBTOOLS_CONSTANTS } from "webtools-helper/astro-helper/webtools-constants.mjs"

---

<!-- Horizontal line - width="device-width" not to have a line+padding longer than the width-->
<hr>

<footer class="webtools-container">
  <div class="webtools-center-block">
    Copyright Webtools {WEBTOOLS_CONSTANTS.YEAR}
  </div>
</footer>
