---

// Copyright (c) Pascal Brand
// MIT License

import { WEBTOOLS_CONSTANTS } from "webtools-helper/astro-helper/webtools-constants.js"

---

<!-- Horizontal line - width="device-width" not to have a line+padding longer than the width-->
<hr>

<header class="webtools-container">
  <div class="webtools-center-block">
    Webtools Header in {WEBTOOLS_CONSTANTS.YEAR}
  </div>
</header>
