---

// Copyright (c) Pascal Brand
// MIT License

---

<nav class="[ webtools-container ] webtools-nav-purecss">
  <div>
    <span class="logo webtools-show-hamburger-only">Menu</span>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="page-two.html">Page Two</a></li>
    </ul>
  </div>
</nav>
